

<ion-content [fullscreen]="true">
  

  <div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-md-6">
        <img class="p-3" src="./../././../assets/img/logowebx1.png" alt="">
        <hr>
        <div class="">
          <div class="card-body">
            
            <form>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><ion-icon name="person-outline"></ion-icon></span>
                <input type="text"  class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" >
              
              
              
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><ion-icon name="key-outline"></ion-icon></span>
                <input type="password"  class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
              
              
              
              </div>
              <div class="form-group text-center mb-3">
                <button  type="submit" class="btn btn-primary" (click)="login()" >Iniciar Sesion</button>
              
                
              </div>
              
              
           
            </form>
          
          </div>
         
        </div>
     
      </div>
    </div>
  </div>
  
  
</ion-content>
